.page-title
{
    font-family: "Playlist script";
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-subtitle
{
    font-family: "Playlist script";
    text-align:center;
    font-size: 3em;
    color: #686369cf;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left:  5%;
}

/* Responsive layout - when the screen is 35.75em (~572px) wide or less */
@media all and (max-width: 35.75em) 
{
    .page-title 
    {
        margin-top: 10%;
        margin-bottom: 5%;
    }
}