/* Global CSS for the Website - Common for all pages */

html, body
{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-height: 120vh;
    font-size: 100%;
    min-width: 500px;  
}

.history{
    background-color: #7E5537;
}
.nav-link
{
    font-size: 1.4rem; 
}

.title-1
{
    
    color: #7E5537;
    font-weight: bold;
}

.title-1-w
{
    
    color: white;
    font-weight: bold;
}

.row-v1
{
  background-color: #A97B57;
}

.title-2
{
    font-size: 1.3vw;
    color: #7E5537;
    font-weight: bold;  
}
.p-site 
{
   color: black;
   font-size: 1.2vw;
}

    /* Nav bar */

@media (min-width: 990px) 
{
    .navbar 
    {
        height:75px; /* Nav bar height */
    }
}

.ac-nav-link{
    font-size: 1rem; 
}

    /* Other Links */
  
/* unvisited link */
a:link 
{
    color: #7E5537;
}

/* visited link */
a:visited 
{
    color: #7E5537;
}

/* mouse over link */
a:hover 
{
    color: #7E5537;
}

/* selected link */
a:active 
{
    color: #7E5537;
} 


.connect-btn
{
    background-color: #7E5537;
}

.connect-btn:hover
{
    background-color: rgb(201, 204, 26);
}