/*
***
* Global styles for the site
***
* Default styles for all pages, this are
* overriden by individual page styles if
* needed. This should be loaded first.
***
*/
html
{
    height: 100%;
    overflow-x: hidden;
}

body
{
    position: relative;
    width: 100%;
    height: min-content;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    min-width: 25em;
}

/* Titles */
