.project-entry-row
{
    background-color: white;
    margin-left: 25rem;
    margin-right: 25rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-entry
{
   font-size: 1.8rem;
   color: #7E5537;
   text-align: left;
   font-weight: bold;
 }

.p-blog-entry 
{
   text-align: justify;
   color: black;
   font-size: 1.1rem;
   padding-right: 40px;
}