.navbar-dark{
   background-image: url("../img/background.jpg");
}

.navbar-dark .navbar-brand {
    color: #F6EADA;
    font-size: xx-large;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F6EADA;
    font-size: x-large;
}

.centered-title
{
    text-align: center !important;
}

.top-adjustment
{
    padding-top: 3%;
}

.bottom-adjustment
{
    padding-bottom: 3%;
}

.content-block-2 
{
    text-align: justify;    
}

.content-section {
    display: none;
  }

.icons {
    text-align: center;
    margin: 40px; 
}

.icon-align {
    text-align: center;
    margin: 5px;
}

.icon-align2 {
    text-align: center;
    margin: 5px;
    padding-left: 22px;
}

.icon-container {
    width: 10%;
    margin: 0 auto;
    text-align: justify;
}

.centered-conteiner {
    text-align: center;
}

.centered {
    margin: 0 auto;
    width: 50%;
}
.centered-container-buttons {
    text-align: center;
    width: 75%;
}

.button-container {
    width: 25%;
    margin: 0 auto;
    text-align: justify;
}

.button-align {
    margin: 5px;
    display: block;
    width: 100%;    
}

#div1 {
    display: inline-block;
    width: 25%;
    padding: 1rem;
}

#div2 {
    display: inline-block;
    width: 75%;
    padding: 1rem;
}

.experience {
    display:flex;
    flex-wrap: wrap;
    justify-content: center ; /* for horizontal aligning of child divs */
    
}

#exp {
    font-size: 12px;
    width:100%;
    display:block;
    color: #F6EADA;
}

#title {
    color: #774F36;
}

#content-style{
    color: #774F36;
    text-align: justify;
}